**/*/.idea
**/*.iml
**/*/bin
**/*/obj
**/*/publish
**/*/Debug
Lib/
Scripts/
Gradle/
build.gradle
gradlew
gradlew.bat
gradle-wrapper.jar
settings.gradle

apache-zookeeper-3.8.4-bin
.venv
*.jar
*.rar
__pycache__